extends layouts/main

block content
    body
        h1= rows[0].subject
        h2= rows[0].content
        h4= rows[0].created
        h3= rows[0].user_name
        h3= rows[0].user_id
        h3= rows[0].nation
        h3= rows[0].hit

    a(href=`/board/${rows[0].nation}/pg${page}`) list
    br
    if loggedUser
        if loggedUser.id == rows[0].user_id
            a(href=`/board/${rows[0].nation}/${rows[0].idx}/update`) update
            br
            form(action=`/board/${rows[0].idx}/delete` method="post")
                input(type="submit" value="delete")