extends layouts/main

block content
    body
        form(method="post" action=`/update_process/${rows[0].idx}`)
            input(type="text" name="subject" placeholder="title" value=rows[0].subject required=true)
            input(type="hidden" name="user_name" placeholder="author" value=rows[0].user_name required=true)
            select(name="nation" required=true)
                option(value="korea") 국내
                option(value="israel") 이스라엘
                option(value="bangladesh") 방글라데시
                option(value="india") 인도
                option(value="cambodia") 캄보디아
                option(value="vietnam") 베트남
                option(value="taiwan") 대만
                option(value="guam") 괌
                option(value="austrailia") 호주
                option(value="hongkong") 홍콩
            textarea(id="editor1" name="content" placeholder="content" required=true)=rows[0].content
            <script>CKEDITOR.replace( 'editor1' )</script>
            input(type="submit")
        
        //span.nation=rows[0].nation
        //script.
        //    const nation = document.getElementsByClassName(nation);
        //    console.log(nation)
        //    const selectedOption = document.getElementsByClassName(`${rows.nation}`)
        //    const init = () => selectedOption.setAttribute("selected", "selected")
        //    if (selectedOption) init()
        