extends layouts/main

block content
    .search__header
        h3 Searching for: #{searchingBy}
    .search__videos
        if rows.length === 0
            h5 No Videos Found
        else
            .table__container
                - for (var i = 0; i<rows.length; i++)
                    table
                        tr
                            td 
                                a(href=`/board/${rows[i].nation}/idx${rows[i].idx}`)=rows[i].subject 
                            td=rows[i].created
                            td=rows[i].user_name
                            td=rows[i].nation
                            td=rows[i].hit
    